<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Hi <%= title %>!</title>
    <meta name="description" content="Application for webcam chatting using webrtc">
    <meta name="author" content="Yang">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="keywords" content="Express, TypeScript, Webrtc">
    <meta name="author" content="Yang">
    <meta property="og:url" content="http://hi-ruby.societyang.xyz" />
    <meta property="og:site_name" content="Hi Ruby" />
    <meta property="og:title" content="Hi Ruby" />
    <meta property="og:description" content="Application for webcam chatting using webrtc"/>
    <meta property="og:type" content="website" />

    <link href="https://fonts.googleapis.com/css?family=Simonetta" rel="stylesheet">
    <link href="/css/reset.css" type="text/css" rel="stylesheet">
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/eventemitter.js"></script>
    <script src="/js/lib/DetectRTC.js"></script>
  </head>

  <body>
