<% include partials/header %>
<link href="/css/chat.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div id="content">
  <div id="alert">
</div>
  <div class="wrap">
    <section id="share-wrap">
      Share this link to <%=title%> :)<br>
      <span id="link"></span>&nbsp;&nbsp;&nbsp;<i id="share-link" class="fas fa-link link"></i>
    </section>

    <section id="enter-wrap">
      <div id="create-wrap">
        <p>Do you want to start a chat with <%=title%>?</p>
        <button class="btn" id="btn-start" class="btn">Start</button>
      </div>
      <div id="wait-wrap"></div>
    </section>

    <section id="video-wrap">
      <div class="buttons">
        <button class="btn" id="btn-camera">Camera Pause</button>
        <button class="btn" id="btn-mic">Mic Mute</button>
      </div>
    </section>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/js/modules/peer-handler.js"></script>
<script src="/js/modules/media-handler.js"></script>
<script src="/js/chat.js"></script>
<% include partials/footer %>
